*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #333333;}

#wrap{
    width: 1000px;
    height: 650px;
    display: flex;
    background-color: #eaeaea;
    margin: 0 auto;
    position: relative;
}

header{
    width: 200px;
    height: 650px;
}
header .logo{
    width: 200px;
    height: 100px ;
}
header .logo img{
    width: 100%;
    height: 40px;
    margin-top: 30px;
}
nav{
    width: 100%;
    height: 550px;
    
    position: relative;
    text-align: center;
}
.menu-title{
    width: 180px;
    height: 50px;
    background-color: #fff;
    margin: 0 auto;
    
}
.menu-title a {
    display: block;
    line-height: 50px;
    color: #60b892;
}
.menu-title a:hover{
    color: #fff;
    background-color: #60b892;
}
nav ul{
    width: 180px;
    margin: 0 auto;
    display: none;
}
nav ul li{
    line-height: 30px;
    border:1px solid #fff;
    box-sizing: border-box;
}
nav ul li a {
    display: block;
}
nav ul li a:hover{
    background-color: #60b892;
    color: #fff;
}
/* ---------------------------------- */
section{
    width: 800px;
}
.img-slider{
    width: 100%;
    height: 350px;
}
.slider{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slide{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.slide:first-child{
    left: 0;
}
.slide img{
    width: 100%;
    height: 100%;
    /* aspect-ratio: 3/1; */
}
.slide p{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    border-radius: 20px;
    background-color: rgba(255,255,255,0.3);
    padding: 20px 40px;
}
.content{
    width: 100%;
    height: 200px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    
}
.c-group{
    width: 350px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.c-group .title{
    display: flex;
    
}
.c-group h4{
    width: 100%;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    padding: 0 10px;
    border: 1px solid #333333;
    border-bottom: none;
}

.c-group-inner{
    width: 100%;
    height:160px;
    position: relative;
    border: 1px solid #333333;
    border-top: none;
}
.c1{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: palegreen; */
    opacity: 0;  
    visibility: hidden;
    transition: all 0.3s;
}
.c1.active{
    opacity: 1;
    visibility: visible;
}
.c1 ul li{
    line-height: 30px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}
.c1 ul .t1{
    cursor: pointer;
}

.c2{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: #333333; */
    opacity: 0;  
    visibility: hidden;
    transition: all 0.3s;
}
.c2.active{
    opacity: 1;
    visibility: visible;
}
.c2-inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    
}
.c2 .banner{
    width: 300px;
    height: 50px;
    /* padding:2px; */
    overflow: hidden;
}
.c2 .banner img{
    width: 100%;
}

.c3{
    width: 250px;
    height: 100%;
}
.c3 .gallery{
    width: 100%;
    height: 33.333%;
    overflow: hidden;
    padding-bottom: 5px;
    box-sizing: border-box;
}
.c3 .gallery img{
    width: 100%;
    height: auto;
}

.c4{
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 700;
    font-size: 18px;
}
.c4 .icon{
    display: flex;
    align-items: center;
    align-content: center;
}
.c4 .icon img{
    width: 60px;
    height: 60px;
    margin-right: 15px;
}
footer{
    width: 100%;
    height: 100px;
    background-color: #434343;
    color: #fff;
    font-size: 12px;
    display: flex;
}
.copy{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-group{
    width: 20%;
    height: 100%;
    padding: 10px 10px 10px 0;
}
.f-group .sns, .f-group .family{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.sns .icon{
    width: 40px;
    height: 40px;    
}
.sns .icon img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    
}
.family{
    width: 100%;
    height: 100%;

}
.family img{
    width: 30%;
    aspect-ratio: 3/1;

}
.pop{
    width: 400px;
    height: auto;
    padding: 30px 20px;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    display: none;
}
.pop pre{
    font-size: 12px;
}
.pop button{
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
}