*{margin: 0; padding: 0; box-sizing: border-box;}
ul{list-style: none;}
a{color: #333; text-decoration: none;}


.wrap, .container, header, footer{
    width: 100%;
}
section{
    width: 1200px;
    margin: 0 auto;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: wheat;
    position: relative;
}
.logo{
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
}
.logo img{
    width: 100%;
    height: auto;
}
.gnb{
    display: flex;
    position: relative;
    top: 35px;
    right:50px;
    z-index: 999;
}
.gnb>ul{
    display:inline-flex;
    text-align: center;
    height: 40px;
    line-height: 40px;

}
.gnb > ul > li{
    background-color: #fff;
}
.gnb > ul > li:hover{
    background-color: skyblue;
}
.gnb > ul > li > a{
    display:block;
    padding: 0 40px;
}
.gnb>ul:hover .sub-menu{
    height: 140px;
    opacity: 1;
    visibility: visible;
}
.sub-menu{
    display: inline-block;
    text-align: center;
    line-height: 30px;
    background-color: #fff;
    height: 100px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
}
.sub-menu >li{
    padding: 0 40px;
}
.sub-menu li:hover{
    background-color: skyblue;
}


/* slider */
.slider{
    width: 100%;
    height: 300px;
    background-color: yellow;
    position: relative;
}
.slide{
    width: 300%;
    display: flex;
}
.slide-img{
    position: absolute;
    width: 100%;
    height: auto;
}
.slide-img:nth-child(1){
    left: 0;
}
.slide-img .txt{
    position: absolute;
    width: 300px;
    height: 200px;
    padding: 10px 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255, 0.3);
    z-index: 100;
    border: 1px solid #333;
    border-radius: 12px;
}

/* content */
.content{
    width: 100%;
    height: 200px;
    background-color: pink;
    display: flex;
}
.c-group{
    width: 400px;
}
.c1{
    /* padding: 0 10px; */
}
.c1 ul{
    display: flex;
    flex-direction: column;
}
span{
    margin: 0;
    padding: 5px 12px;
    line-height: 40px;
    border: 1px solid #333;
}
.c1 ul li ul{
    border: 1px solid #333;
}
.c1 li ul li{
    display: flex;
    justify-content: space-between;
    line-height: 26px;
    font-size: 14px;
}
.c1 li .date{
    color: #333;
}
.txtpop{
    cursor: pointer;
}

.slider{
    width: 100%;
    height: 100%;
    background-color: blue;
}