*{margin: 0; padding: 0;}
body{box-sizing: border-box; }
ul{list-style: none; }
a{text-decoration: none; color: #222328;}

#wrap{
    width: 100%;
    display: flex;
}
header{
    width: 200px;
    height: 650px;
    background-color: rgb(247, 255, 180);
}
h1{
    width: 100%;
    height: 40px;
}
h1 img{
    width: 100%;
}
nav{
    width: 100%;
    /* height: 610px; */
}
.gnb{
    width: 180px;
    margin: 5px auto;
    position: relative;
    text-align: center;
    
}
.gnb > li {
    width: 100%;
    height:50px;
    line-height: 50px;
    background-color: skyblue;
    position: relative;
    
}
.gnb > li >a{
    display: inline-block;
}
.gnb > li > ul{
    width: 200px;
    height: 400px;
    position: relative;
    top: -50px;
    left: 180px;
    display: none;
    z-index: 1000;
    
}
.gnb > li > ul >li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #ccc;
    position: relative;

}
.gnb > li > ul >li:hover{
   background-color: skyblue;
}

section{
    width: 800px;
    height: 650px;
    
}
.img-slider{
    width: 100%;
    height: 350px;
    background-color: pink;
    overflow: hidden;
    position: relative;
}
.slider{
    width: 2400px;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.slide{
    position: absolute;
}
.img_slide .slide:first-child{
	left:0;
}
.slide img{
    height: 100%;
}
.slide .txt{
    width: 300px;
    padding: 20px;
    background-color: rgba(255,255,255,0.6);
    border: 1px solid #333;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
.contents{
    width: 100%;
    height: 200px;
    display: flex;
    /* background-color: yellow; */
    
}
.c1{
    width: 300px;
    height: 100%;
    font-size: 12px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.menu{
    font-size: 16px;
    padding: 5px;
}
.sub-menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.sub-menu ul li{
    display: flex;
    flex-direction: row;
    height: 30px;
    line-height: 30px;
    justify-content: space-between;
}
.sub-menu ul li .date{
    color: #888;
}
.t1{
    cursor: pointer;
}
.c2{
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
}
.c2 .sub-menu{
    display: flex;
    flex-direction: row;
}
.sub-img{
    width: 80px;
    margin: 0 10px;
}
.sub-img img{
    width: 100%;
}
.c3{
   width: 200px;
   height: 100%;
   padding: 20px 10px; 
   box-sizing: border-box;
   font-size: 14px;
   background: url("../images/banner.png") no-repeat center bottom /contain;
   border: 1px solid #ccc;
}
footer{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: beige;
}
.f_logo{
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
}
.f_logo img{
    width: 200px;
    height: 40px;
    
}
.f_cover{
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.f_menu{
    width: 100%;
    height: 50px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    align-items: center ;
}
.f_copy{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center ;
    margin-top: 5px;
    font-size: 12px;
}
/* .pop_cover{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
} */
 .pop{
    width: 500px;
    height: 300px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 1px solid #ccc ;
    padding: 30px 20px;
    display: none;
    z-index: 100;
 }