*{margin: 0; padding: 0; box-sizing: border-box;}
ul{list-style: none;}
a{text-decoration: none; color:#222328}  

#wrap{
    width: 100%;
}
.container{
    width: 1000px;
    height: 650px;
    display: flex;
}
header{
    width: 200px;
    height: 100%;
    
}

header .logo{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
header .logo img{
    width: 100%;
}
nav{
    background-color: plum;
    width: 100%;
    height: 550px;
    
}
.gnb{
    position: relative;
    top: 10px;
    left: 10px;
    width: 180px;
    display: flex;
    flex-direction: column;
}
.gnb > li{
    display: block;
    position: relative;
    /* height: 50px; */
    line-height: 50px;
    text-align: center;
    background-color: rgb(219, 57, 219);
}
.gnb > li>a{
    display: block;
}
.sub-menu{
    width: 180px;
    top: 50px;
    left: 0;
    background-color: #fff;
    /* position: absolute; */
    display: none;
    /* transition: all 0.3s ease; */
}
.sub-menu li:hover{
    background-color: aqua;
}
/* .sub-menu.open {
    height: auto;
    opacity: 1;
    visibility: visible;
} */
/* --------------------------------------- */
.section-wrapper{
    width: 800px;
    height: 650px;
}
.img-slider{
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    
}
.slider{
    width: 2400px;
    height: 350px;
    display: flex;
    flex-direction: row;
    
}
.slide{
    width: 800px;
    height: 350px;
    
}
.slide img{
    /* width: 100%; */
    height: 100%;
    position: absolute;
}
.slide .txt{
    width: 300px;
    /* height: 200px; */
    padding: 20px;
    background-color: rgba(255,255,255,0.5);
    border: 1px solid #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
.content{
    width: 800px;
    height: 200px;
    display: flex;
}
.content .title{
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    border-bottom: 1px solid #333;
}
.content .c1{
    width: 350px;
    height: 100%;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #333;
}
.content .c1 ul{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.content > .c1 > ul > li > ul{
    display: flex;
    
}
.content .c1 ul li{
    display: flex;
    line-height: 30px;
    justify-content: space-between;
}
.content .c1 .t1{
    cursor: pointer;
}
.content .c1 .date{
    color: #666;
}

.content .c2{
    width: 225px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid #333;
}
.content .c2 .g-img{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.content .c2 img{
    width: 100%;
    height: auto;
}
.content .c3{
    width: 225px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    border: 1px solid #333;
}
.content .c3 .banner{
    display: flex;
    width: 100%;

}
.banner{
    display: flex;
    align-items: center;
}
.banner img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.banner p{
    font-weight: 700;
}
footer{
    width: 100%;
    height: 100px;
    font-size: 12px;
    display: flex;
    align-items: center;
    background-color: bisque;
    
}
footer .copy{
    width: 65%;
    height: 100%;
    padding-left: 20px;
    display: flex;
    align-items: center;
}
footer .c-group{
    width: 35%;
    height: 100%;
    /* display: flex;
    flex-direction: column; */
}
.sns-box{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.site{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
}
.site img{
    width: auto;
    height: 20px;
    
}

.pop{
    width: 500px;
    height: auto;
    padding: 30px 20px;
    background-color: #fff;
    box-shadow: 0 10px 100px rgba(0,0,0,0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: none;
    
}