*{margin: 0; padding: 0;}
body{box-sizing: border-box;}
ul{list-style: none;}
a{text-decoration: none; color:#222328}  

#wrap{
    width: 100%;
}
.container{
    width: 1000px;
    height: 650px;
    display: flex;
}
header{
    width: 200px;
    height: 100%;
    
}

header .logo{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
header .logo img{
    width: 100%;
}
nav{
    background-color: plum;
    width: 100%;
    height: 640px;
    
}
nav ul{
    position: relative;
    top: 5px;
    left: 5px;
    width: 190px;
    display: flex;
    flex-direction: column;
}
nav > ul > li{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgb(219, 57, 219);
}

nav > ul > li > ul{
    /* display: none; */
    display: block;
    top: 50px;
    left: 0;
    background-color: aqua;
    position: absolute;
}
.section-wrapper{
    width: 800px;
    height: 650px;
}
.img-slider{
    width: 300%;
    height: 350px;
    position: relative;
    
}
.slider{
    width: 800px;
    height: 350px;
    display: flex;
    flex-direction: row;
    
}
.slide{
    width: 800px;
    height: 350px;
    
}
.slide img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.silde .txt{
    width: 300px;
    height: 200px;
    background-color: rgba(255,255,255,0.5);
    position: absolute;
}