*{margin: 0; padding: 0; box-sizing: border-box}
ul{list-style: none;}
a{text-decoration: none; color:#333333;}

#wrap{
    width: 100%;
    height: 970px;
}

header{
    width: 200px;
    height: 850px;
    float: left;
}
header .logo{
    width: 200px;
    height: 100px;
}
header .logo img{
    width: 100%;
    height: auto;
    margin:30px 0;
}

nav{
    width: 200px;
    height: 750px;
}
