*{margin: 0; padding: 0; box-sizing: border-box}
ul{list-style: none;}
a{text-decoration: none; color:#333333;}

#wrap{
    width: 100%;
    height: 970px;
    /* overflow-x: hidden; */
}

header{
    width: 200px;
    height: 850px;
    float: left;
    position: relative;
}
header .logo{
    width: 200px;
    height: 100px;
}
header .logo img{
    width: 100%;
    height: auto;
    margin:30px 0;
}

nav{
    width: 200px;
    height: 750px;
    
}
.lnb{
    width: 90%;
    margin: 0 5%;
    text-align: center;
    /* display: flex;
    flex-direction: column; */
    position: relative;
}
.main-title{
    width: 100%;
    position: relative;
    height: 60px;
    line-height: 60px;
    background-color: pink;
}
.main-title a{
    display: block;
}
.main-title a:hover{
    background-color: aqua;
}

.sub{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    width: 100vw;
    /* height: 50px; */
    position: absolute;
    top: 0;
    left: 180px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    z-index: 999;
}
.sub a{
    width: 200px;
}
.sub a:hover{
    background-color: #fff;
}
.lnb:hover .sub{
    /* width: 100%; */
    opacity: 1;
    visibility: visible;
}

section{
    width: calc(100% - 200px);
    height: 850px;
    float: left;
    background-color: gray;
}
.img-slider{
    width: 100%;
    height: 400px;
    position: relative;
    /* float: left; */
    /* overflow: hidden; */
    
}
.slide{
    width: 100%;
    height: 100%;
    position: relative;
}
.slide li{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    display: none;
    overflow: hidden;
}
.slide li:first-child{
    display: block;
}
.slide li img{
    width: 100%;
    height: 100%;
    display: block;
}
.slide li .txt{
    width: 350px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    background-color: rgba(255,255,255,0.3);
    padding: 20px;
}

.quick{
    width: 60px;
    height: auto;
    position: fixed;
    top:0;
    right: 0;
}
.quick img{
    width: 100%;
}
.banner{
    width: 100%;
    height: 200px;
    display: flex;
}
.b1{
    width: 100%;
    height: 100%;
    position: relative;
}
.b1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    position: relative;
}
.b1 p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 800;
    font-size: 20px;
    color: white;
    text-shadow: 0 0 50px #000;
}

.notice-gallery{
    width: 100%;
    height: 250px;
}
.notice-gallery .title{
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    padding: 13px 0;
    cursor: pointer;
    box-sizing: border-box;
}
.notice-gallery .title1:hover, 
.notice-gallery .title2:hover{
    text-decoration: underline;
}
.notice-gallery .content{
    width: 100%;
    height: 200px;
    position: relative;
}
.noti{
    width: 100%;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    
}
.noti.active{
    opacity: 1;
    visibility: visible;
}

.noti li{
    width: 100%;
    height: 45px;
    line-height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
}
.noti li .t1{
    cursor: pointer;
}

.gall{
    display: flex;
    position: absolute;
    width: 100%;
    height: 200px;
    gap: 10px;
    /* overflow: hidden; */
    opacity: 0;
    visibility: hidden;
}
.gall.active{
    opacity: 1;
    visibility: visible;
}
.gall li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}



footer{
    width: 100%;
    height: 120px;
    float: left;
    background-color: lightblue;
    display: flex;
}
footer .logo{
    width: 200px;
    height: 120px;
}
footer .logo img{
    width: 100%;
    height: auto;
    margin:40px 0;
}
footer .copy{
    width: calc(100% - 200px);
    height: 100%;
    font-size: 14px;
}
.copy .ctop, .cbottom{
    width:100%;
    height: 50%;
    display: flex;
    align-items: center;
}
.copy .ctop a {
    display: block;
    padding: 0 15px;
    border-right: 1px solid #333;
}
.copy .ctop a:first-child{
    padding-left:0 ;
}

.pop{
    padding: 30px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 5px;
    line-height: 20px;
    display: none;
    z-index: 9999;

}
.pop button{
    border: none;
    padding: 5px 15px;
    float: right;
}