*{margin: 0; padding: 0; box-sizing: border-box}
ul{list-style: none;}
a{text-decoration: none; color:#333333;}

#wrap{
    width: 100%;
    height: 970px;
    /* overflow: hidden; */
}

header{
    width: 200px;
    height: 850px;
    float: left;
    position: relative;
}
header .logo{
    width: 200px;
    height: 100px;
}
header .logo img{
    width: 100%;
    height: auto;
    margin:30px 0;
}

nav{
    width: 200px;
    height: 750px;
    
}
.lnb{
    width: 90%;
    margin: 0 5%;
    text-align: center;
    /* display: flex;
    flex-direction: column; */
    position: relative;
}
.main-title{
    width: 100%;
    position: relative;
    height: 60px;
    line-height: 60px;
    background-color: pink;
}
.main-title a{
    display: block;
}
.main-title a:hover{
    background-color: aqua;
}

.main-title ul{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    width: 100vw;
    /* height: 50px; */
    position: absolute;
    top: 0;
    left: 180px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    z-index: 100;
}

.main-title ul li{
    width: 200px;
}
.main-title ul li a{
    display: block;
}
.main-title a:hover .main-title ul{
    opacity: 1;
    visibility: visible;
}

section{
    width: calc(100% - 200px);
    height: 850px;
    float: left;
    background-color: gray;
}
.img-slider{
    width: 100%;
    height: 400px;
    position: relative;
    /* float: left; */
    
}
.slide{
    width: 100%;
    height: 100%;
    position: relative;
}
.slide li{
    width: 100%;
    height: 100%;
    position: absolute;
}
.slide li img{
    width: 100%;
    height: 100%;
}
.slide li .txt{
    /* width: 330px; */
    height: auto;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    background-color: rgba(255,255,255,0.3);
    padding: 20px;
}

.quick{
    width: 100px;
    height: auto;
    position: absolute;
    top:0;
    right: 0;
}
.quick img{
    width: 100%;
}
.banner{
    width: 100%;
    height: 200px;
    display: flex;
}
.b1{
    width: 100%;
    height: 100%;
    position: relative;
}
.b1 img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    object-position: center;
    position: relative;
}
.b1 p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 800;
    font-size: 20px;
    color: white;
    text-shadow: 0 0 50px #000;
}
footer{
    width: 100%;
    height: 100px;
    float: left;
}