*{margin: 0; padding: 0;}
ul li{list-style: none;}
a{text-decoration: none; color: #333;}
body{overflow-x: hidden;}

#wrap{
    width: 100%;
}

header{
    width: 100%;
    height: 180px;
    min-width: 1440px;
    position: relative;
    margin: 0 auto;
    border-top: 5px solid darkgreen;
}
.logo{
    width: 200px;
    height: auto;
    margin: 40px auto;
}
.logo img{
    width: 100%;
}
/* ----------------------------- */
.menu{
    width: 100%;
    height: 60px;
    position: relative;
    border-bottom: 1px solid #d1d1d1;
    overflow: hidden;
    transition: all 0.3s;
    background-color: #fff;
    z-index: 9999;
    
}
.menu:hover{
    height: 320px;
    /* box-shadow: 0px 5px 20px #555 ; */
}
.menu > ul {
    display: flex;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid #ccc;

}

.menu  ul > li{
    position: relative;
}

.dp1{
    width: 170px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
}

.dp1:hover{
    color: green;
}
.dp2{
    position: absolute;
    width: 100%;
    height: 0;
    top: 60px;
    left: 0;
    padding-top: 5px;
    text-align: center;
    overflow: hidden;
    opacity: 0;
    z-index: 9999;
    
}
.dp2 ul li a {
    font-size: 14px;
    display: block;
    width: 100%;
    height: 40px;
    color:#686868;
    line-height: 40px;
}

.dp2 ul li a:hover{
    color: green;
    text-decoration: underline;
}
.menu :hover .dp2{
    height: 260px;
    opacity: 1;
}
/* ----------------------------------- */
.content{
    width: 100%;
    min-width: 1440px;
    position: relative;
    /* margin: 0 auto; */
    /* top: 190px; */
}
.slider{
    width: 100%;
    min-width: 1440px;
    height: 490px;
    position: relative;
    
}
.slide_img li{
    width: 100%;
    height: 440px;
    position: absolute;
    display: flex;
}
.s_img0{
    left: 0;
    background: url(../img/s1.jpg)no-repeat 50% 0;
}
.s_img1{
    left: 100%;
    background: url(../img/s2.jpg)no-repeat 50% 0;
}
.s_img2{
    left: 200%;
    background: url(../img/s3.jpg)no-repeat 50% 0;
}
.s_img3{
    left: 300%;
    background: url(../img/s4.jpg)no-repeat 50% 0;
}
.s_img4{
    left: 400%;
    background: url(../img/s5.jpg)no-repeat 50% 0;
}
.pager_list{
    width: 200px;
    height: 20px;
    right: 12%;
    bottom: 19%;
    position: absolute;
    display: flex;
    z-index: 100;
    /* background-color:pink; */
    
}
.pager_list li{
    width: 11px;
    height: 11px;
    border-radius: 7.5px;
    background-color: #fff;
    margin: 0 5px;
    display: block;
}
.pager_list li.on{
    width: 35px;
    height: 11px;
    background-color: gold;
    transition: width 0.3s;
}


/* ------------------------------ */
.quick_link{
    width: 600px;
    height: 80px;
    position: absolute;
    right:12%;
    bottom: 0;
    z-index: 10;
    display: flex;
}

.store{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gold;
    border-top-left-radius: 30px;
    font-size: bold;
}
.store p{
    font-weight: bold;
    font-size: 21px;
    margin-left: 15px;
    color: #333;
}
.franchise{ 
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:green ;
    border-bottom-right-radius: 30px;
}
.franchise p{
    font-weight: bold;
    font-size: 21px;
    margin-left: 15px;
    color: #fff;
}