*{margin: 0; padding: 0;}
ul, li{list-style: none; }
a{color: #000; text-decoration: none;}

.container{
    width: 1200px;
    margin: 0 auto;
}
header{
    background-color: green;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header .logo{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.gnb{
    width: 600px;
    height: 50px;
    margin-top: 25px;
    float: left;
}
.gnb > li{
    float: left;
    text-align: center;
    width: 25%;
    line-height: 50px;
    position: relative;
}
.gnb > li > ul{
    width: 100%;
    position: absolute;
    display: none;
}
.gnb > li > ul > li{
    line-height: 35px;
}

/* slider */
.slider{
    width: 100%;
    height: 300px;
    
}
.slider ul{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.slider ul li{
    position: absolute;
    left: 0;
}
.slider ul li img{
    width: 100%;
    height: auto;
}


.contents{
    background-color: pink;
    width: 100%;
    height: 200px;
}
.c-wrap{
    width: 400px;
    display: flex;
}
.c-wrap ul{
    padding: 10px;
}
