*{margin: 0; padding: 0; box-sizing: border-box;}
ul, li{list-style: none; }
a{color: #222328; text-decoration: none;}

.container{
    width: 1200px;
    margin: 0 auto;
}
header{
    background-color: burlywood;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header .logo{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.gnb{
    width: 600px;
    height: 50px;
    margin-top: 25px;
    float: left;
}
.gnb > li{
    float: left;
    text-align: center;
    width: 25%;
    line-height: 50px;
    position: relative;
}
.gnb > li > ul{
    width: 100%;
    position: absolute;
    display: none;
}
.gnb > li > ul > li{
    line-height: 35px;
}

/* slider */
.slider{
    width: 100%;
    height: 300px;
    
}
.slider ul{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.slider ul li{
    position: absolute;
    left: 0;
}
.slider ul li img{
    width: 100%;
    height: auto;
}
/* contents---------------------------- */
.contents{
    /* background-color: pink; */
    width: 1200px;
    height: 200px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
.c-wrap{
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #000;
}
.c-wrap .tab-menu ul{
    width: 400px;
    display: flex;
    flex-direction: row;
    /* line-height: 40px; */
    cursor: pointer;
}
.c-wrap .tab-menu ul li{
    width: 200px;
    padding: 5px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #000;
}
.c-wrap .tab-menu ul li.active{
    border-bottom: none;
}

.c1, .c2 {
    position: absolute;
    left: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.c1.active, .c2.active {
    visibility: visible;
    opacity: 1;
    position: relative; 
}

.c1 ul{
    height: 165px;
}
.c1 ul li{
    width: 400px;
    display: flex;
    justify-content: space-between;
    padding: 0px 7px;
    line-height: 41px;
}

.c2 ul{
    width: 400px;
    height: 165px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.c2 ul li img{
    width: 100%;

}

.c3{
    width: 400px;
    position: absolute;
    top: 0;
    left: 400px;
}
.c4{
    width: 400px;
    position: absolute;
    top: 0;
    right: 0;
}
.contents img{
    width: 100%;
    height: auto;
}
/* footer---------------------------- */
footer{
    background-color: burlywood;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
footer .logo{
    width: 200px;
    /* height: 100%; */
}
footer .logo img{
    width: 100%;
    height: auto;
}

footer .copyright{
    padding: 30px;
    font-size: 14px;
}
footer .sns{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    box-sizing: border-box;
    padding: 40px;
}

footer .sns .icon{
    width: 50px;
    height: 50px;
    
}
footer .sns .icon img{
    width: 100%;
}
