h4{
    margin: 17px 0;
}
.List p{
    line-height: 25px;
}
.searchbar{
    margin-bottom: 20px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #999;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 15px;
}

.searchbar:focus{
    outline: none;
    border-bottom: 2px solid #999;
}