.ListItem{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 14px 0;
    border-bottom: 1px solid rgb(240,240,240);
}

.checkbox_col{
    width: 20px;
}


.title_col{
    flex:1;
}
.title_col.checked{
    text-decoration: line-through;
}

.date_col{
    font-size: 14px;
    color: gray;
}

.btn_col button{
    cursor: pointer;
    color:gray;
    font-size: 14px;
    border: none;
    border: 7px;
    padding: 5px;
}