.writer_wrapper{
    display: flex;
    gap: 10px;
}
.Writer input{
    flex:1;
    margin: 20px 0;
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;

}
.Writer input:focus{
    outline:none;
    border: 2px solid #888;
}
.addBtn{
    cursor: pointer;
    margin: 20px 0;
    padding: 13px 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #2193ff;
    color: #fff;
}
.addBtn:hover{
    background-color:#0080f9;
}