*{margin: 0; padding: 0; }
body{background-color: #FFFFE6;}
ul {list-style: none;}
a{text-decoration: none; color: #000;}


#wrap{
    width: 92vw;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-color: #FFFFE6;
}
.nav-inner{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    padding-right: 2vw;
    box-sizing: border-box;
}
.nav-tab{
    cursor: pointer;
}
.intro{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    align-items: flex-end;

}
.intro-title{
    font-family: "anisette-std", sans-serif;
    font-size: 10rem;
    letter-spacing: -3px;
}

section{
    width: 100%;
    margin-top: 25vh;
}

h1{
    font-family: "anisette-std", sans-serif;
    font-weight: 600;
    font-size: 7rem;
    margin-bottom: 55px;
}

.float-txt{
    width: 100%;
    position: relative;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.3;
    text-align: right;
    margin-bottom: 40px;
}
.info-inner{
    /* width: 100%; */
    position: relative;
    box-sizing: border-box;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "about . ." 
    "experience awards certifications";
}
.info-inner .about{grid-area: about;}
.info-inner .experience{grid-area: experience;}
.info-inner .awards{grid-area: awards;}
.info-inner .certifications {grid-area: certifications;}

/* .info-section:first-child{
    width: 100%;
} */
.info-section{
    width: 30vw;
    height: auto;
    margin-top: 40px;
    box-sizing: border-box;
}
.info-section p, .info-section ul{
    padding: 8px 0;
}
h5{
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    line-height: 24px;
}
.info-section.about{
    line-height: 1.7;
}
.info-section ul li{
    line-height: 1.8;
    display: flex;
    gap: 20px;
}
.work{
    display: flex;
}
.work-content{
    width: 65%;
    padding: 15px 0 20px ;
    margin-right: 30px;
    border-bottom: 1px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title{
    font-size: 2.2rem;
    font-weight: 700;
}
.category{
    font-weight: 600;
    padding: 15px 0;
    border: none;
}
.explain{
    height: calc(100% - 105px);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.explain p:first-child{
    width: 25%;
}
.explain p:last-child{
    width: 75%;
}
.view{
    width: 15px;
    height: 15px;
}
.work-image{
    width: 35%;
    height: 400px;
    background-color: #333;
}

.contact{
    display: flex;
    flex-direction: column;
    margin-bottom: 25vh;
}

h2{
    font-size: 2.4rem;
    font-weight: 600;
    padding: 50px 0 15px ;
}
h4{
    font-size: 1rem;
    font-weight: 500;
}