*{margin: 0; padding: 0; background-color: #FFFFE6;}
ul {list-style: none;}
a{text-decoration: none; color: #000;}

#wrap{
    width: 92vw;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
}
.nav-inner{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    padding-right: 2vw;
    box-sizing: border-box;
}
.nav-tab{
    cursor: pointer;
}
.intro{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    align-items: flex-end;

}
.intro-title{
    font-family: "anisette-std", sans-serif;
    font-size: 10rem;
    letter-spacing: -3px;
}

section{
    width: 100%;
    margin-top: 15vh;
}
