@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');
*{margin: 0; padding: 0;}
ul li{list-style: none;}
a{text-decoration: none;}
#wrap{
    float: left;
}
header{
    position: fixed;
    width: 15%;
    height: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-color: navy;
}
header .logo a img{
    /* display: flex; */
    width: 80%;
    height: auto;
    position: absolute;
    left: 10%;
    top:15%;
}

header .gnb{
	position:absolute;
	right: 20%;
	top:25%;
	/* transform:translate(-50%,-50%); */
}

header .gnb li{
    margin:35px 0;
}
header .gnb li a{
    color: #fff;
    font-family:'Poiret One';
    font-size: 18px;
    
}

header .bottom{
    width: 100%;
    /* height: 100px; */
    bottom: 100px;
    position: absolute;
    text-align: center;
}
header .bottom ul{
    width: 300px;
    height: 20px;
    left: 50%;
    margin-left: -150px;
    position: relative;
    display: flex
}

header .bottom ul:nth-child(1){
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 20px 80px;

}
header .bottom ul:nth-child(2){
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 20px 50px;

}
header .bottom .snsSet li:nth-child(1){
    height: 30px;
    border-right: 1px solid #fff;
}
header .bottom li a{
    width: 30%;
    color: #fff;
    font-family:'Poiret One';
    font-size: 12px;
    margin: 10px;
    padding: 10px;
}

header .bottom li i{
    font-size: 25px;
}
/* ------------------------------ */
section{
    width: 85%;
    height: 100%;
    left: 15%;
    position: relative;
    background-color: plum;
}
article{
    position: relative;
    float: left;
    height: 280px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;

}
article:nth-child(1){width: 60%;background-color: navy; height: 560px;}
article:nth-child(2){width: 40%;background-color: #fff;}
article:nth-child(3){width: 20%;background-color: #fff;}
article:nth-child(4){width: 20%;background-color: #aaa;}

article:nth-child(5){width: 20%;background-color: #999;}
article:nth-child(6){width: 40%;background-color: #fff;}
article:nth-child(7){width: 20%;background-color: #777;}
article:nth-child(8){width: 20%;background-color: #fff;}

article:nth-child(9){width: 40%;background-color: #555;}
article:nth-child(10){width: 20%;background-color: #010620 ;}
article:nth-child(11){width: 20%;background-color: #fff;}
article:nth-child(12){width: 20%;background-color: #7bff00;}

/* ------------------------------------------ */
article:nth-child(1){
    background: navy url(../images/1.png) no-repeat 50% 50% /cover;
}
article:nth-child(4){
    background: url(../images/3.png) no-repeat 50% 50%/cover;
}
article:nth-child(5){
    background: url(../images/4.jpg) no-repeat 50% 50%/ 600px 320px ;
}
article:nth-child(7){
    background: url(../images/5.jpg) no-repeat 50% 50% /cover;
}
article:nth-child(9){
    background: url(../images/6.jpg) no-repeat 50% 50% /cover;
}
article:nth-child(10){
    background:#010620 url(../images/7.jpg) no-repeat 50% 50% /cover;
}
article:nth-child(12){
    background: #7bff00 url(../images/8.png) no-repeat 50% 50% /cover;
}
/* ------------------------------------------ */
article .txt{
    height: 100%;
    transition: all 0.4s;
}
article:hover .txt1{
    background-color: rgb(31, 206, 212);
}
article:hover .txt2{
    background-color: rgb(20, 220, 255);
}
article:hover .txt3{
    background-color: rgb(254, 238, 66);
}
article:hover .txt4{
    background-color: rgb(19, 187, 3);
}
article:hover .txt5{
    background-color: rgb(54, 43, 36);
}
article .txt1 img{
    position: absolute;
    height:90%;
    right: -300px;
    bottom: 15px;
    transition: all 0.6s;
    opacity: 0;
}
article:hover .txt1 img{
    right: 0;
    opacity: 0.5;
}

article .txt strong{
    display: flex;
    font-size: 30px;   
    margin-bottom: 20px; 
    color: #333;
}
article .txt p{
    padding: 30px;
    padding-bottom: 10px;
    z-index: 10;
}

article .txt i{
    font-size: 200px;
    color: #111;
    right: -250px;
    bottom: -10px;
    position: absolute;
    transition: all 0.6s;
    opacity: 0.6;
}
article .txt2 i{
    right: -10px;
}
article .txt4 i{
    color: #fff;
    opacity: 0.5;
}
article .txt5 i{
    color: #fff;
    opacity: 0.5;
}

article:hover .txt i{
    right: -10px;
}
article:hover .txt2 p strong,
article:hover .txt2 i{
    color: #fff;
}
article:hover .txt4 p strong,
article:hover .txt4 em{
    color: #fff;
}
article:hover .txt5 p strong,
article:hover .txt5 em{
    color: #fff;
}

/* ------------------------------------------------------------ */
article .bg span{
    font-size: 60px;
    line-height: 65px;
    right: 5%;
    bottom: 0;
    position: absolute;
    color: #555;
    transform:scale(10);
    transition: all 0.6s;
    opacity: 0;
    
}
article:hover .bg span{
    transform: scale(1);
    opacity: 1;
}
article .bg .span1{
    font-size: 100px;
    right: 5%;
    bottom: 0;
    position: absolute;
    color: #000;
    opacity: 0;
    transform: scale(1) rotateY(0deg);
    transition: all 0.8s;
}
article:hover .bg .span1{
     transform: scale(1) rotateY(360deg);
     color: #000;
     opacity: 0.9;
}


