*{margin: 0; padding: 0; box-sizing: border-box;}
body { color: #222328; }
li{list-style: none;}
a{text-decoration: none; color: #222328;}

.wrap{
    width: 100%;
}
.container{
    width: 1200px;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.head .logo{
    width: 200px;
    height: auto;
    display: flex;
    align-items: center;
}
.head .logo img{
    width: 100%;
}
.gnb{
    /* width: 800px; */
    margin-top: 50px;
    margin-right: 30px;
    
}
.gnb > ul{
    display: flex;
    flex-direction: row;
    text-align: center;
    line-height: 50px;

}
.gnb ul li ul{
    background-color: palegoldenrod;
}
.gnb ul li ul li{
    width: 120px;
    display: block;
    line-height: 40px;
}