*{margin: 0; padding: 0; box-sizing: border-box;}
body { color: #222328; }
li{list-style: none;}
a{text-decoration: none; color: #222328;}

.wrap{
    width: 100%;
}
.container{
    width: 1200px;
    margin: 0 auto;
    /* background-color: palegreen; */
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.head .logo{
    width: 200px;
    height: auto;
    display: flex;
    align-items: center;

}
.head .logo img{
    width: 100%;
}
.gnb{
    /* width: 100%; */
    height: 40px;
    margin-top: 50px;
    margin-right: 30px;
    position: relative;
    right: 0;
    z-index: 999;
    
}
.menu{
    display: flex;
    flex-direction: row;
    text-align: center;
    line-height: 50px;
    /* width: 1200px; */

}
.menu-bg{
    display: none;
    width: 1200px;
    height: 150px;
    background-color: palegoldenrod;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 10;
}
.menu>li{
    width: 120px;
    text-align: center;
    position: relative;
}
.menu>li>a{
    display: block;
    
}
.menu>li:hover>a{
    background-color: skyblue;
}
.menu>li>ul{
    display: none;
    position: absolute;
    top: 50px; /* 부모 li 아래로 살짝 떨어지게 */
    left: 0;
    z-index: 20;
}
.menu>li>ul>li{
    width: 120px;
    /* display: none; */
    line-height: 35px;
}
.menu>li>ul>li:hover{
    background-color: #fff;
}
/* 슬라이더 */
.img-slide{
    width: 100%;
    height: 300px;
    background-color: yellow;
    position: relative;
    overflow: hidden;
}
.slider{
    width: 300%;
    display: flex;

}
.slide{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 100%;
}
.slide:first-child {
  left: 0; 
}
.slide .txt{
    position: absolute;
    width: 300px;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21px;
    background-color: rgba(255,255,255,0.3);
    border: 2px solid #333;
    z-index: 100;
}
.slide img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.contents{
    width: 1200px;
    height: 300px;
    position: relative;
    display: flex;
}
.c1 p, .c2 p{
    text-align: center;
    font-weight: 600;
    line-height: 40px;
}
.c1{
    width: 420px;
}
.c1 ul{
    line-height: 30px;
    /* border: 1px solid #999; */
    padding: 10px; 
}

.c1 ul li{
    display: flex;
    justify-content: space-between;
    padding: 4px;
    border-bottom: 1px solid #333;
    font-size: 14px;
}
.c1 .popup{
    cursor: pointer;
}
.c1 .date{
    color: #666;
    font-size: 12px;
}

.c2{
    width: 390px;
    
}
.c2 ul{
    height: 300px;
}
.c2 li{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.c2 .g-img{
    width: 122px;
    height: auto;
    overflow: hidden; 
}
.c2 .g-img img{
    width: 100%;
    height: 100%;
}

.c3{
    width: 390px;
    display: flex;
    flex-direction: column;
}
.banner{
    height: 100px;
    display: flex;
    flex-direction: row;
    padding: 7px 10px  0;
}
.banner .img{
    width: 25%;
    height: auto;
}
.banner img{
    width: 100%;
    height: 100%;
}
.c3 .txt{
    padding: 0 0 5px 15px;
}
.c3 p{
    font-size: 14px;
}

footer{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    background-color: #ccc;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    padding: 5px 0;
}
.footer-left{
    display: flex;
    flex-direction: column;
    width: 1000px;
}
.footer-menu{
    display: flex;
    justify-content: center;
}
.footer-menu p{ 
    padding: 0 20px;
}
.footer-copy{
    text-align: center;
    padding-top: 10px;
    
}

.footer-right{
    width: 200px;
    font-size: 12.5px;
}

.pop{
    width: 700px;
    height: auto;
    padding: 50px 35px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
.pop p{
    padding: 20px 0;
}
.pop button{
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 10px;
    
}